.css-hlj6pa-MuiDialogActions-root {
    margin: auto;
    width: 100%;
    align-items: center;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color:  #B58BAB;
    
}
hr {
    margin-bottom: 4%;
    border:1px solid purple;
}
.button-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}
.MuiTypography-h5 {
    font-family: 'Acme', sans-serif !important;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif !important;
    // margin-top:20px !important;

}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    margin: auto;
    padding: 10px !important;
}

.MuiPaper-elevation24 {
    width: 100%;
}
.final-popupAll-container {
    .MuiPaper-root {
        background-color: #E3D1E2 !important;
        box-shadow: none !important;
    }
}

.MuiPaper-elevation1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    border-radius: 30px;
}
a:-webkit-any-link {
    text-decoration: none;
    
}
.css-13i4rnv-MuiGrid-root {
    margin: 0;
}

.css-0 {
    display: flex;
    flex-direction: column;
}

.claim-card {
    width: 70%;
    margin: auto;
    display: flex;
}


.css-1iidl42-MuiGrid-root {
    border: 1px solid black;
    
    width:100%;
}

.css-mhc70k-MuiGrid-root {
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin: 0;
    margin-bottom: 4%;
    background-color:#E8E4E1;//  #DBB0A2;
    color:black;
    border: 1px solid white;
    width: 100% !important;
    border-radius: 25px;

}

.css-ypiqx9-MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #E3D1E2 !important;
}



.MuiButton-textPrimary  {
    font-family: "Carter One", cursive !important;
    color: #B58BAB !important;
    font-size: large !important;
}

.MuiTouchRipple-root {
    font-family: "Carter One", cursive;
}

.MuiTypography-subtitle1 {
    font-family: "Carter One" !important;
}

.MuiTypography-body2 {
    font-family: "Carter One";
    color: purple;
} 

.css-w88nxk {
    background-color: #E3D1E2;
    border: 1px solid #C4C4C0;
    border-radius: 25px;
}

.css-isbt42 {
    margin-left: 0% !important;
    margin-top: 0% !important;
    margin: 0;
    margin-bottom: 4%;
    background-color: #E8E4E1;
    color: black;
    width: 100%;
    border-radius: 25px;
}

.css-isbt42 > .MuiGrid-item {
    margin:auto;
    width: 70%;
    display: flex;

}