 .css-hlj6pa-MuiDialogActions-root {
    margin: auto;
    width: 100%;
    align-items: center;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color:  #B58BAB; // !important;
    
}

.css-1ty026z {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 24px;
    background-color: #E3D1E2 !important;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    color: black; //white;

    text-align: center;
    font-family: 'Acme', sans-serif !important;
    // margin-top:20px !important;

}

a:-webkit-any-link {
    text-decoration: none;
    
}

.css-1ty026z {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 24px;
    background-color: #E3D1E2 !important;
    text-align: center !important;
}

.css-o3d33y {
    font-family: 'Acme', sans-serif !important;
}




.button-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}
.css-0 {
    display: flex;
    flex-direction: column;
}

.claim-card {
    width: 70%;
    margin: auto;
    display: flex;
}

.MuiTypography-body1 {
    color: black !important;
}



.css-ypiqx9-MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #E3D1E2;
    // border: 1px solid red;
}



.MuiButton-textPrimary  {
    font-family: "Carter One", cursive;
    color: #B58BAB !important;
    font-size: large !important;
}

.MuiTouchRipple-root {
    font-family: "Carter One", cursive;
}

