 .css-hlj6pa-MuiDialogActions-root {
    margin: auto;
    // background-color: #B58BAB;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color:  #B58BAB;
    
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif !important;
    // margin-top:20px !important;

}

a:-webkit-any-link {
    text-decoration: none;
    
}

.css-0 {
    display: flex;
    flex-direction: column;
}

.claim-card {
    width: 70%;
    margin: auto;
    display: flex;
}



.css-ypiqx9-MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #E3D1E2;
    // border: 1px solid red;
}



.MuiButton-textPrimary  {
    font-family: "Carter One", cursive !important;
    color: #B58BAB !important;
    font-size: large !important;
}

.MuiTouchRipple-root {
    font-family: "Carter One", cursive;
}

