.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80%;

    .buttons {
        font-family: "Carter One";
        font-size: 14px;
        background-color:  #C4C4C0;
        color: #694364;
        border: 1px solid #B58BAB;
    }

    .css-h93ljk-MuiTypography-root {
        font-family: 'Acme', sans-serif;
    }
    .css-r40f8v-MuiTypography-root {
        font-family: 'Acme', sans-serif;
        color: black;
        font-size: 18px;
    }

    .css-1ri6ub7-MuiPaper-root-MuiCard-root {
        background-color: #E3D1E2;
        border: 1px solid #C4C4C0;
        border-radius: 25px;
    }

    .MuiButton-containedPrimary:hover {
        background-color:  #694364 !important;
        color: white;
    }

    .css-ke5b6m-MuiButtonBase-root-MuiButton-root:hover {
        background-color:  #694364 !important;
        color: white;
    }


    .css-ke5b6m-MuiButtonBase-root-MuiButton-root:active {
        background-color:  #694364 !important;
        color: white;
    }

    .css-u30lmt {
        color: black !important;
        font-family: 'Acme', sans-serif;
        font-size: 18px;
    }
}