.pretty-container {
    height: 500px;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .css-ag7rrr-MuiTypography-root {
        font-family: 'Acme', sans-serif;
        padding: 20px;
        color: #E8E4E1;
    }

    .MuiButton-containedSizeLarge {
        border-radius: 25px;
    }
}