$assetPath :"/assests";

body {
  background-image: url(#{$assetPath}/menaBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: fit-content;
}

.MuiButton-label {
  font-family: 'Acme', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Tangerine, cursive';
  
}


